<nav class="navbar navbar-expand-sm bg-light navbar-light nav-bg">
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" routerLink="users" style="color: #fffffff0; font-weight: bold;">Users</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="add-new" style="color: #fffffff0; font-weight: bold;">Add User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="error" style="color: #fffffff0; font-weight: bold;">Error</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>